{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {# <h1>flash {{ }}! ✅</h1> #}

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/chintan/web/projects/Learning/Kishan/symfony/demoSymfony/src/Controller/BlogController.php'|file_link(0) }}">src/Controller/BlogController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/chintan/web/projects/Learning/Kishan/symfony/demoSymfony/templates/blog/index.html.twig'|file_link(0) }}">templates/blog/index.html.twig</a></code></li>
    </ul>
</div>
{# templates/base.html.twig #}

{# ... #}
<div id="sidebar">
    {# if the controller is associated with a route, use the path() or url() functions #}
    {# {{ render(path('dump', {max: 3})) }} #}
    {{ render(url('dump', {max:6})) }}
sss
    {# if you don't want to expose the controller with a public URL,
       use the controller() function to define the controller to execute #}
    {# {{ render(controller( #}
        {# 'App\\Controller\\UserController::recentArticles', {max} #}
    {# )) }} #}
</div>
{# {% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}
{% for label, messages in app.flashes(['notice', 'worning']) %}
    {% for message in messages %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %} 
    {% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %} #}

{% endblock %}
